.ui-dialog {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-align: center;
	width: auto;
	height: auto;
	background-color: inherit;
	border-width: 1px;
	border-color: #CADCEB;
	border-style: solid;
}
.ui-dialog-content {
	text-align: center;
	padding: 5px;
}
.ui-dialog-titlebar {
	background-color: #CADCEB;
	font-weight: 800;
	padding: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.ui-dialog-titlebar-close {
	display: none;
}
.ui-button {
	width: auto;
	background-color: #CADCEB;
	font-weight: 800;
	padding: 5px;
	border-width: 1px;
	border-color: #CADCEB;
	border-style: solid;
	margin: 5px;
}
.ui-widget {
	border-radius: 5px;
}