<!-- IF S_SMARTFEED_USER_INTERFACE -->
<!-- INCLUDE overall_header.html -->
<h2>{L_SMARTFEED_TITLE}</h2>

<!-- IF S_SMARTFEED_NO_FORUMS -->
<p style="text-align:center"><span class="gen">{L_SMARTFEED_NO_FORUMS_AVAILABLE}<br /><br /></span></p>
<!-- ELSE -->

<!-- IF S_SMARTFEED_IS_GUEST -->
<p>{L_SMARTFEED_NOT_LOGGED_IN}</p>
<!-- ENDIF -->

<p>{L_SMARTFEED_EXPLANATION}</p>
<form id="phpbbservices_smartfeed" action="#">
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>

		<h3>{L_SMARTFEED_FORUM_SELECTION}</h3>

		<fieldset>
			<dl>
				<dt><label for="all_forums">{L_SMARTFEED_SELECT_FORUMS}:</label><br /><span class="gensmall">{L_SMARTFEED_SELECT_FORUMS_EXPLAIN}</span></dt>
				<dd>
					<input type="checkbox" name="all_forums" id="all_forums" {S_SMARTFEED_ALL_BY_DEFAULT} onClick="uncheck_subscribed_forums(this);" onChange="reset_url(this);"/> <label for="all_forums"><b>{L_SMARTFEED_ALL_FORUMS}</b></label><br /><br />
					<div id="div_0">
					<!-- BEGIN forums -->
						<!-- IF not forums.S_SMARTFEED_PRINT and forums.S_SMARTFEED_DIV_OPEN -->
						<div id="{forums.CAT_ID}" style="position:relative; left:20px;">
						<!-- ENDIF -->
						<!-- IF forums.S_SMARTFEED_PRINT -->
							<!-- IF forums.S_SMARTFEED_IS_FORUM -->
							<input type="checkbox" name="{forums.FORUM_NAME}" id="{forums.FORUM_NAME}" {forums.FORUM_CHECKED} {forums.FORUM_DISABLED} onClick="check_or_uncheck_all_forums();" onChange="reset_url(this);"/><label for="{forums.FORUM_NAME}">{forums.FORUM_PREFIX}{forums.FORUM_LABEL}{forums.FORUM_SUFFIX}</label><br />
							<!-- ELSE -->
							<i>{forums.FORUM_LABEL}</i><br />
							<!-- ENDIF -->
						<!-- ENDIF -->
						<!-- IF not forums.S_SMARTFEED_PRINT and not forums.S_SMARTFEED_DIV_OPEN -->
						</div>
						<!-- ENDIF -->
					<!-- END forums -->
					</div>
				</dd>
			</dl>
		</fieldset>

		<h3>{L_SMARTFEED_FILTER_CRITERIA}</h3>

		<fieldset>
			<dl>
				<dt><label>{L_SMARTFEED_FIRST_POST_ONLY}:</label></dt>
				<dd>
					<input type="radio" name="firstpostonly" id="firstpostonly2" value="NO" onChange="reset_url(this);" onClick="disable_or_enable_all_the_forums(0);" checked="checked" /><label for="firstpostonly2">{L_SMARTFEED_POSTS_TYPE_ANY}</label>
					<input type="radio" name="firstpostonly" id="firstpostonly1" value="YES" onChange="reset_url(this);" onClick="disable_or_enable_all_the_forums(0);" /><label for="firstpostonly1">{L_SMARTFEED_POSTS_TYPE_FIRST}</label> 
					<!-- IF not S_SMARTFEED_IS_GUEST -->
					<input type="radio" name="firstpostonly" id="bookmarks" value="BM" onChange="reset_url(this);" onClick="disable_or_enable_all_the_forums(1);" /><label for="bookmarks">{L_SMARTFEED_USE_BOOKMARKS}</label> 
					<!-- ENDIF -->
				</dd>
			</dl>
			<dl>
				<dt><label>{L_SMARTFEED_LIMIT}:</label><br /><span class="gensmall">{L_SMARTFEED_LIMIT_EXPLAIN} {L_SMARTFEED_LIMIT_SET_EXPLAIN}</span></dt>
				<dd>
					<select name="post_limit" id="post_limit" onChange="reset_url(this);">
						<!-- IF not S_SMARTFEED_IS_GUEST -->
						<option value="{S_SMARTFEED_SINCE_LAST_VISIT_VALUE}">{L_SMARTFEED_SINCE_LAST_VISIT_TEXT}</option>
						<!-- ENDIF -->
						<option value="{S_SMARTFEED_NO_LIMIT_VALUE}">{L_SMARTFEED_NO_LIMIT}</option>
						<option value="{S_SMARTFEED_LAST_QUARTER_VALUE}">{L_SMARTFEED_LAST_QUARTER}</option>
						<option value="{S_SMARTFEED_LAST_MONTH_VALUE}">{L_SMARTFEED_LAST_MONTH}</option>
						<option value="{S_SMARTFEED_LAST_TWO_WEEKS_VALUE}">{L_SMARTFEED_LAST_TWO_WEEKS}</option>
						<option value="{S_SMARTFEED_LAST_WEEK_VALUE}">{L_SMARTFEED_LAST_WEEK}</option>
						<option value="{S_SMARTFEED_LAST_DAY_VALUE}" {S_SMARTFEED_DAY_DEFAULT}>{L_SMARTFEED_LAST_DAY}</option>
						<option value="{S_SMARTFEED_LAST_12_HOURS_VALUE}">{L_SMARTFEED_LAST_12_HOURS}</option>
						<option value="{S_SMARTFEED_LAST_6_HOURS_VALUE}">{L_SMARTFEED_LAST_6_HOURS}</option>
						<option value="{S_SMARTFEED_LAST_3_HOURS_VALUE}">{L_SMARTFEED_LAST_3_HOURS}</option>
						<option value="{S_SMARTFEED_LAST_1_HOURS_VALUE}">{L_SMARTFEED_LAST_1_HOURS}</option>
						<option value="{S_SMARTFEED_LAST_30_MINUTES_VALUE}">{L_SMARTFEED_LAST_30_MINUTES}</option>
						<option value="{S_SMARTFEED_LAST_15_MINUTES_VALUE}">{L_SMARTFEED_LAST_15_MINUTES}</option>
					</select>
				</dd>
			</dl>
			<dl>
				<dt><label for="max_items">{L_SMARTFEED_MAX_ITEMS}:</label><br /><span class="gensmall">{L_SMARTFEED_MAX_ITEMS_EXPLAIN_MAX}</span></dt>
					<dd><input type="text" class="inputbox autowidth" size="3" maxlength="3" name="max_items" id="max_items" value="{S_SMARTFEED_MAX_ITEMS}" onBlur="check_whole_number_range(this,{S_SMARTFEED_MAX_ITEMS},false);" onChange="reset_url(this);" />
				</dd>
			</dl>
			<dl>
				<dt><label for="min_words">{L_SMARTFEED_MIN_WORDS}:</label><br /><span class="gensmall">{L_SMARTFEED_MIN_WORDS_EXPLAIN}</span></dt>
					<dd><input type="text" class="inputbox autowidth" size="4" maxlength="4" name="min_words" id="min_words" value="0" onBlur="check_for_negative_value(this);" onChange="reset_url(this);" />
				</dd>
			</dl>
			<!-- IF not S_SMARTFEED_IS_GUEST -->
			<dl>
				<dt><label>{L_SMARTFEED_REMOVE_YOURS}:</label></dt>
				<dd>
					<label for="remove_yours1"><input type="radio" name="remove_yours" id="remove_yours1" value="YES" onChange="reset_url(this);" /> {L_YES}</label> 
					<label for="remove_yours2"><input type="radio" name="remove_yours" id="remove_yours2" value="NO" onChange="reset_url(this);" checked="checked" /> {L_NO}</label>
				</dd>
			</dl>
			<dl>
				<dt><label>{L_SMARTFEED_FILTER_FOES}:</label></dt>
				<dd>
					<label for="filter_foes1"><input type="radio" name="filter_foes" id="filter_foes1" value="YES" onChange="reset_url(this);" /> {L_YES}</label> 
					<label for="filter_foes2"><input type="radio" name="filter_foes" id="filter_foes2" value="NO" onChange="reset_url(this);" checked="checked" /> {L_NO}</label>
				</dd>
			</dl>
			<!-- ENDIF -->
		</fieldset>

		<h3>{L_SMARTFEED_ADDITIONAL_CRITERIA}</h3>

		<fieldset>
			<dl>
				<dt><label for="sort_by">{L_SMARTFEED_SORT_BY}:</label><br /><span class="gensmall">{L_SMARTFEED_SORT_BY_EXPLAIN}</span></dt>
				<dd>
					<select name="sort_by" id="sort_by" onChange="reset_url(this);">
					<!-- IF not S_SMARTFEED_IS_GUEST -->
						<option value="{S_SMARTFEED_BOARD}">{L_SMARTFEED_SORT_USER_ORDER}</option>
					<!-- ENDIF -->
						<option value="{S_SMARTFEED_STANDARD}">{L_SMARTFEED_SORT_FORUM_TOPIC}</option>
						<option value="{S_SMARTFEED_STANDARD_DESC}">{L_SMARTFEED_SORT_FORUM_TOPIC_DESC}</option>
						<option value="{S_SMARTFEED_POSTDATE_ASCENDING}">{L_SMARTFEED_SORT_POST_DATE}</option>
						<option value="{S_SMARTFEED_POSTDATE_DESCENDING}">{L_SMARTFEED_SORT_POST_DATE_DESC}</option>
					</select>
				</dd>
			</dl>
			<!-- IF not S_SMARTFEED_IS_GUEST -->
			<dl>
				<dt><label>{L_SMARTFEED_PRIVATE_MESSAGES_IN_FEED}:</label></dt>
				<dd>
					<label for="pms1"><input type="radio" name="pms" id="pms1" value="YES" onChange="reset_url(this);" /> {L_YES}</label> 
					<label for="pms2"><input type="radio" name="pms" id="pms2" value="NO" onChange="reset_url(this);" checked="checked" /> {L_NO}</label> &nbsp;<input type="checkbox" name="mark_read" id="mark_read" /> <label for="mark_read">{L_SMARTFEED_MARK_READ}</label>
				</dd>
			</dl>
			<!-- ENDIF -->
			<dl>
				<dt><label for="max_word_size">{L_SMARTFEED_MAX_WORD_SIZE}:</label><br /><span class="gensmall">{L_SMARTFEED_MAX_WORD_SIZE_EXPLAIN}</span></dt>
					<dd><input type="text" class="inputbox autowidth" size="4" maxlength="4" name="max_word_size" id="max_word_size" value="{S_SMARTFEED_MAX_WORD_SIZE}" onBlur="check_for_negative_value(this);" onChange="reset_url(this);" />
				</dd>
			</dl>
		</fieldset>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>

		<h3>{L_SMARTFEED_FORMAT_AND_ACCESS}</h3>

		<fieldset>
			<dl>
				<dt><label>{L_SMARTFEED_FEED_TYPE}:</label></dt>
				<dd>
					<label for="feed_type3"><input type="radio" name="feed_type" id="feed_type3" value="{S_SMARTFEED_ATOM_10_VALUE}" onChange="reset_url(this);" checked="checked" /> <img src="{U_SMARTFEED_IMAGE_PATH}newsfeed_atom10.gif" alt="{L_SMARTFEED_ATOM_10}" title="{L_SMARTFEED_ATOM_10}" style="vertical-align:-3px" /></label>
					<label for="feed_type1"><input type="radio" name="feed_type" id="feed_type1" value="{S_SMARTFEED_RSS_20_VALUE}" onChange="reset_url(this);" /> <img src="{U_SMARTFEED_IMAGE_PATH}newsfeed_rss20.gif" alt="{L_SMARTFEED_RSS_20}" title="{L_SMARTFEED_RSS_20}" style="vertical-align:-3px" /></label> 
					<label for="feed_type2"><input type="radio" name="feed_type" id="feed_type2" value="{S_SMARTFEED_RSS_10_VALUE}" onChange="reset_url(this);" /> <img src="{U_SMARTFEED_IMAGE_PATH}newsfeed_rss10.gif" alt="{L_SMARTFEED_RSS_10}" title="{L_SMARTFEED_RSS_10}" style="vertical-align:-3px" /></label>
				</dd>
			</dl>
			<dl>
				<dt><label>{L_SMARTFEED_FEED_STYLING}:</label><br /><span class="gensmall">{L_SMARTFEED_FEED_STYLING_EXPLAIN}</span></dt>
				<dd>
					<label for="style1" title="{L_SMARTFEED_STYLE_COMPACT_EXPLAIN}"><input type="radio" name="style" id="style1" value="{S_SMARTFEED_COMPACT_VALUE}" onChange="reset_url(this);" checked="checked" /> {L_SMARTFEED_STYLE_COMPACT}</label><br />
					<label for="style2" title="{L_SMARTFEED_STYLE_BASIC_EXPLAIN}"><input type="radio" name="style" id="style2" style="margin-top: 3px;" value="{S_SMARTFEED_BASIC_VALUE}" onChange="reset_url(this);" /> {L_SMARTFEED_STYLE_BASIC}</label><br />
					<label for="style3" title="{L_SMARTFEED_STYLE_HTML_SAFE_EXPLAIN}"><input type="radio" name="style" id="style3" style="margin-top: 3px;" value="{S_SMARTFEED_HTMLSAFE_VALUE}" onChange="reset_url(this);" /> {L_SMARTFEED_STYLE_HTML_SAFE}</label><br />
					<label for="style4" title="{L_SMARTFEED_STYLE_HTML_EXPLAIN}"><input type="radio" name="style" id="style4" style="margin-top: 3px;" value="{S_SMARTFEED_HTML_VALUE}" checked="checked" onChange="reset_url(this);" /> {L_SMARTFEED_STYLE_HTML}</label>
				</dd>
			</dl>

			<!-- IF not S_SMARTFEED_IS_GUEST -->
			<dl>
				<dt><label>{L_SMARTFEED_LASTVISIT_RESET}:</label></dt>
				<dd>
					<label for="lastvisit1"><input type="radio" name="lastvisit" id="lastvisit1" value="YES" onChange="reset_url(this);" checked="checked" /> {L_YES}</label> 
					<label for="lastvisit2"><input type="radio" name="lastvisit" id="lastvisit2" value="NO" onChange="reset_url(this);" /> {L_NO}</label>
				</dd>
			</dl>
			<dl>
				<dt><label>{L_SMARTFEED_IP_AUTH}:</label><br /><span class="gensmall">{L_SMARTFEED_IP_AUTHENTICATION_EXPLAIN}</span></dt>
				<dd>
					<label for="ip_auth1"><input type="radio" name="ip_auth" id="ip_auth1" value="YES" onChange="reset_url(this);" /> {L_YES}</label> 
					<label for="ip_auth2"><input type="radio" name="ip_auth" id="ip_auth2" value="NO" onChange="reset_url(this);" checked="checked" /> {L_NO}</label><br />
				</dd>
			</dl>
		<!-- ENDIF -->

		</fieldset>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel bg3">
		<div class="inner"><span class="corners-top"><span></span></span>

		<h3>{L_SMARTFEED_URL}</h3>

		<fieldset>
			<dl>
				<dt><label>{L_SMARTFEED_GENERATE_BUTTON}:</label><br /><span class="gensmall">{L_SMARTFEED_GENERATE_BUTTON_EXPLAIN}</span></dt>
				<dd>
					<input type="button" value="{L_SMARTFEED_GENERATE_URL_TEXT}" class="button1" onClick="create_URL();"/><br />
					<input type="text" class="inputbox" name="url" id="url" style="margin-top: 3px;" maxlength="3000" onFocus="this.select();" />
				</dd>
			</dl>
			<dl>
				<dt><label>{L_SMARTFEED_TEST_BUTTON}:</label><br /><span class="gensmall">{L_SMARTFEED_TEST_BUTTON_EXPLAIN}</span></dt>
				<dd>
					<input type="button" name="runit" id="runit" value="{L_SMARTFEED_TEST}" class="button1" onClick="test_feed();"/><br />
				</dd>
			</dl>
			<div style="text-align: center;">
				<img src="{U_SMARTFEED_IMAGE_PATH}valid-atom.png" alt="{L_SMARTFEED_VALID_ATOM_1}" title="{L_SMARTFEED_VALID_ATOM_1}" />
				<img src="{U_SMARTFEED_IMAGE_PATH}valid-rss-rogers.png" alt="{L_SMARTFEED_VALID_RSS_2}" title="{L_SMARTFEED_VALID_RSS_2}" />
				<img src="{U_SMARTFEED_IMAGE_PATH}valid-rss.png" alt="{L_SMARTFEED_VALID_RSS_1}" title="{L_SMARTFEED_VALID_RSS_1}" />
			</div>
		</fieldset>

		<span class="corners-bottom"><span></span></span></div>
	</div>

</form>
<!-- ENDIF -->

<div class="copyright">
	Powered by <a href="{U_SMARTFEED_PAGE_URL}" class="postlink" onClick="window.open(this.href);return false;">{L_SMARTFEED_POWERED_BY}</a>
</div>

<!-- INCLUDE overall_footer.html -->
<!-- ELSE -->
<!-- IF S_SMARTFEED_FEED_TYPE eq 1 -->
<?xml version="1.0" encoding="utf-8"?>
<rdf:RDF
	xmlns="http://purl.org/rss/1.0/"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:dc="http://purl.org/dc/elements/1.1/">
	<channel rdf:about="{S_SMARTFEED_FEED_CHANNEL_ABOUT}">
		<title><![CDATA[{L_SMARTFEED_FEED_TITLE}]]></title>
		<description>{L_SMARTFEED_FEED_DESCRIPTION}</description>
		<link>{U_SMARTFEED_FEED_LINK}</link>
		<image rdf:resource="{U_SMARTFEED_FEED_IMAGE}" />
		<dc:date>{S_SMARTFEED_FEED_UPDATED}</dc:date>
		<items>
<!-- BEGIN items -->
			<rdf:Seq>
				<rdf:li rdf:resource="{items.U_RESOURCE}"/>
			</rdf:Seq>
<!-- END items -->
		</items>
	</channel>
	<image rdf:about="{U_SMARTFEED_FEED_IMAGE}">
		<title><![CDATA[{L_SMARTFEED_FEED_IMAGE_TITLE}]]></title>
		<link>{U_SMARTFEED_FEED_IMAGE_LINK}</link>
		<url>{U_SMARTFEED_FEED_IMAGE}</url>
	</image>
<!-- BEGIN items -->
	<item rdf:about="{items.U_LINK}">
		<dc:format>text/html</dc:format>
		<dc:date>{items.S_DATE}</dc:date>
		<dc:source>{items.U_SOURCE}</dc:source>
		<dc:creator><![CDATA[{items.S_CREATOR}]]></dc:creator>
		<title><![CDATA[{items.L_TITLE}]]></title>
		<link>{items.U_LINK}</link>
		<description><![CDATA[{items.L_DESCRIPTION}]]></description>
	</item>
<!-- END items -->
</rdf:RDF>
<!-- ELSEIF S_SMARTFEED_FEED_TYPE eq 2 -->
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title><![CDATA[{L_SMARTFEED_FEED_TITLE}]]></title>
		<description><![CDATA[{L_SMARTFEED_FEED_DESCRIPTION}]]></description>
		<link>{U_SMARTFEED_FEED_ID}</link>
		<lastBuildDate>{S_SMARTFEED_FEED_BUILD_DATE}</lastBuildDate>
		<generator>{U_SMARTFEED_FEED_GENERATOR}</generator>
		<atom:link href="{U_SMARTFEED_FEED_LINK}" type="application/rss+xml" />
		<!-- IF S_SMARTFEED_SHOW_WEBMASTER -->
		<webMaster>{U_SMARTFEED_WEBMASTER}</webMaster>
		<!-- ENDIF -->
		<image>
			<url>{U_SMARTFEED_FEED_IMAGE}</url>
			<title><![CDATA[{L_SMARTFEED_FEED_IMAGE_TITLE}]]></title>
			<link>{U_SMARTFEED_FEED_ID}</link>
		</image>
		<language>{S_SMARTFEED_FEED_LANGUAGE}</language>
		<pubDate>{S_SMARTFEED_FEED_PUBDATE}</pubDate>
		<ttl>{S_SMARTFEED_FEED_TTL}</ttl>
<!-- BEGIN items -->
		<item>
			<title><![CDATA[{items.L_TITLE}]]></title>
			<link>{items.U_LINK}</link>
			<description><![CDATA[{items.L_DESCRIPTION}]]></description>
			<author>{items.S_AUTHOR}</author>
			<category><![CDATA[{items.L_CATEGORY}]]></category>
			<comments>{items.U_COMMENTS}</comments>
			<pubDate>{items.S_PUBDATE}</pubDate>
			<guid isPermaLink="false">{items.U_GUID}</guid>
		</item>
<!-- END items -->
	</channel>
</rss>
<!-- ELSE -->
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en-GB">
	<title><![CDATA[{L_SMARTFEED_FEED_TITLE}]]></title>
	<subtitle><![CDATA[{L_SMARTFEED_FEED_DESCRIPTION}]]></subtitle>
	<id>{U_SMARTFEED_FEED_ID}</id>
	<link type="application/atom+xml" href="{U_SMARTFEED_FEED_LINK}" />
	<updated>{S_SMARTFEED_FEED_UPDATED}</updated>
	<generator uri="{U_SMARTFEED_FEED_PAGE_URL}" version="{S_SMARTFEED_FEED_VERSION}">{U_SMARTFEED_FEED_GENERATOR}</generator>
<!-- BEGIN items -->
	<entry>
		<title><![CDATA[{items.L_TITLE}]]></title>
		<link rel="alternate" type="text/html" href="{items.U_LINK}"/>
		<published>{items.S_PUBLISHED}</published>
		<updated>{items.S_UPDATED}</updated>
		<id>{items.U_ID}</id>
		<author>
			<name><![CDATA[{items.L_NAME}]]></name>
			<email><![CDATA[{items.L_EMAIL}]]></email>
		</author>
		<category term="{items.L_CATEGORY}" />
		<content type="html"><![CDATA[{items.L_CONTENT}]]></content>
		<summary type="html"><![CDATA[{items.L_SUMMARY}]]></summary>
	</entry>
<!-- END items -->
</feed>
<!-- ENDIF -->
<!-- ENDIF -->