{% if S_SMARTFEED_IN_SMARTFEED %}
{% INCLUDECSS '@phpbbservices_smartfeed/smartfeed.css' %}

<script>

	// global variables
	var adminMaxItems = {{ S_SMARTFEED_MAX_ITEMS }};
	var excludedForums = "{{ lang('SMARTFEED_EXCLUDED_FORUMS')|escape('js') }}";
	var excludedForumsArray = excludedForums.split(',');
	var ignoredForums = "{{ lang('SMARTFEED_IGNORED_FORUMS')|escape('js') }}";
	var ignoredForumsArray = ignoredForums.split(',');
	var ok = "{{ lang('OK')|escape('js') }}";
	{% if not S_SMARTFEED_IS_GUEST %}
	{% if not S_SMARTFEED_REQUIRED_IP_AUTHENTICATION %}
	var smartfeedKey = '{{ S_SMARTFEED_PWD|escape('js') }}';
	{% endif %}
	var smartfeedKeyWithIP = '{{ S_SMARTFEED_PWD_WITH_IP|escape('js') }}';
	{% endif %}
	var thereAreRequiredForums = {{ S_SMARTFEED_REQUIRED_FORUMS }};
	{% INCLUDEJS '@phpbbservices_smartfeed/js/smartfeed.js' %}

	function create_URL() {

		// Creates a URL for display to be used by the newsreader to actually retrieve the newsfeed.
		var numChecked = 0;
		var forumString = '';
		{% if S_SMARTFEED_IS_GUEST %}
		var loggedIn = 0;
		{% else %}
		var loggedIn = 1;
		{% endif %}

		// Get # of checked forums
		$("[id*=elt_]").each(function() {
			if ($(this).is(':checked')) {
				numChecked++;
				var itemId = $(this).attr('id');
				var underscoreLoc = itemId.indexOf('_', 5); // Look for underscore past the "elt_", or first 4 characters
				forumString = forumString + "&{{ S_SMARTFEED_FORUMS }}=" + itemId.substring(4, underscoreLoc);
			}
		});

		if ((thereAreRequiredForums) && (numChecked === 0)) {
			forumString = forumString + "&f=-1"; // -1 means that no forums were selected but there are required forums
			numChecked++;
		}
		{% if not S_SMARTFEED_IS_GUEST %}
		// If bookmarks are checked, then the forum string should be blank
		if ($("#bookmarks").is(':checked')) {
			forumString = '';
		}
		{% endif %}

		// If no forums were checked there is no point in generating a URL.
		// Instead, give a Javascript warning and generate nothing.
		var createMyURL = false;

		{% if not S_SMARTFEED_IS_GUEST %}
		if ((numChecked === 0) && (!$("#all_forums").is(':checked')) && (!$("#bookmarks").is(':checked')) && (!$("#pms1").is(':checked'))) {
		{% else %}
		if ((numChecked === 0) && (!$("#all_forums").is(':checked'))) {
		{% endif %}
			alert("{{ lang('SMARTFEED_NO_FORUMS_SELECTED')|escape('js') }}");
			return false;
		}

		// Initialise the URL
		var url = "{{ UA_SMARTFEED_SITE_URL }}";

		// If user logged in, add the specific variables
		if (loggedIn) {
			// Add user ID
			var append = (url.indexOf('?') === -1) ? '?' : '&';
			url = url + append + "{{ S_SMARTFEED_USER_ID }}={{ UA_SMARTFEED_USER_ID }}";

			// Add password + if needed address IP
			append = (url.indexOf('?') === -1) ? '?' : '&';
			{% if S_SMARTFEED_REQUIRED_IP_AUTHENTICATION %}
			url = url + append + "{{ S_SMARTFEED_ENCRYPTION_KEY }}=" + smartfeedKeyWithIP;
			{% else %}
			if ($("#ip_auth1").is(':checked')) {
				url = url + append + "{{ S_SMARTFEED_ENCRYPTION_KEY }}=" + smartfeedKeyWithIP;
			}
			else {
				url = url + append + "{{ S_SMARTFEED_ENCRYPTION_KEY }}=" + smartfeedKey;
			}
			{% endif %}

			// If checked, add to reset the last visit date
			append = (url.indexOf('?') === -1) ? '?' : '&';
			if ($("#lastvisit1").is(':checked')) {
				url = url + append + "{{ S_SMARTFEED_SINCE_LAST_VISIT }}=1";
			}

			// If checked, add to add his unread private messages
			append = (url.indexOf('?') === -1) ? '?' : '&';
			if ($("#pms1").is(':checked')) {
				url = url + append + "{{ S_SMARTFEED_PRIVATE_MESSAGE }}=1";
				if ($("#mark_read").is(':checked')) {
					append = (url.indexOf('?') === -1) ? '?' : '&';
					url = url + append + "{{ S_SMARTFEED_MARK_PRIVATE_MESSAGES }}=1";
				}
			}

			// If checked, add to remove his posts
			append = (url.indexOf('?') === -1) ? '?' : '&';
			if ($("#remove_yours1").is(':checked')) {
				url = url + append + "{{ S_SMARTFEED_REMOVE_MINE }}=1";
			}

			append = (url.indexOf('?') === -1) ? '?' : '&';
			if ($("#filter_foes1").is(':checked')) {
				url = url + append + "{{ S_SMARTFEED_FILTER_FOES }}=1";
			}

			// If option selected, add to select posts only from bookmarked topics
			append = (url.indexOf('?') === -1) ? '?' : '&';
			if ($("#post_types option:selected").val() == 'BM') {
				url = url + append + "{{ S_SMARTFEED_BOOKMARKS }}=1";
			}
			else {
				if (!$("#all_forums").is(':checked') && numChecked > 0) {
					// Remove the 1st "&" of the string as it'll be the 1st variable of the url
					url = url + append + forumString.substring(1);
				}
			}

		}
		else {
			append = (url.indexOf('?') === -1) ? '?' : '&';
			if (!$("#all_forums").is(':checked') && numChecked > 0) {
				// Add to select posts from selected forums
				url = url + append + forumString.substring(1);
			}
		}

		// If option selected, add to select first post of topics only
		append = (url.indexOf('?') === -1) ? '?' : '&';
		if ($("#post_types option:selected").val() == 'FIRST') {
			url = url + append + "{{ S_SMARTFEED_FIRST_POST }}=1";
		}

		// If option selected, add to select last post of topics only
		append = (url.indexOf('?') === -1) ? '?' : '&';
		if ($("#post_types option:selected").val() == 'LAST') {
			url = url + append + "{{ S_SMARTFEED_LAST_POST }}=1";
		}

		// Add the time limit
		append = (url.indexOf('?') === -1) ? '?' : '&';
		url = url + append + "{{ S_SMARTFEED_TIME_LIMIT }}=" + $("#post_limit").val();

		// Add the max number of posts
		append = (url.indexOf('?') === -1) ? '?' : '&';
		if ($("#max_items").val() > 0) {
			url = url + append + "{{ S_SMARTFEED_MAX_ITEMS_L }}=" + $("#max_items").val();
		}

		// Add the sort order
		append = (url.indexOf('?') === -1) ? '?' : '&';
		url = url + append + "{{ S_SMARTFEED_SORT_BY }}=" + $("#sort_by").val();

		// Add to select posts with minimum words
		append = (url.indexOf('?') === -1) ? '?' : '&';
		url = url + append + "{{ S_SMARTFEED_MIN_WORDS }}=" + $("#min_words").val();

		// Add the news feed type
		append = (url.indexOf('?') === -1) ? '?' : '&';
		if ($("#feed_type1").is(':checked')) {
			url = url + append + "{{ S_SMARTFEED_FEED_TYPE }}=" + "{{ S_SMARTFEED_RSS_20_VALUE }}";
		}
		else {
			if ($("#feed_type2").is(':checked')) {
				url = url + append + "{{ S_SMARTFEED_FEED_TYPE }}=" + "{{ S_SMARTFEED_RSS_10_VALUE }}";
			}
			else {
				url = url + append + "{{ S_SMARTFEED_FEED_TYPE }}=" + "{{ S_SMARTFEED_ATOM_10_VALUE }}";
			}
		}

		// Add the news format
		append = (url.indexOf('?') === -1) ? '?' : '&';
		if ($("#style1").is(':checked')) {
			url = url + append + "{{ S_SMARTFEED_FEED_STYLE }}=" + $("#style1").val();
		}
		else {
			if ($("#style2").is(':checked')) {
				url = url + append + "{{ S_SMARTFEED_FEED_STYLE }}=" + $("#style2").val();
			}
			else {
				if ($("#style3").is(':checked')) {
					url = url + append + "{{ S_SMARTFEED_FEED_STYLE }}=" + $("#style3").val();
				}
				else {
					url = url + append + "{{ S_SMARTFEED_FEED_STYLE }}=" + $("#style4").val();
				}
			}
		}

		// Add the maximum words in news
		append = (url.indexOf('?') === -1) ? '?' : '&';
		if ($("#max_word_size").val() !== '') {
			url = url + append + "{{ S_SMARTFEED_MAX_WORDS }}=" + $("#max_word_size").val();
		}

		// Add suppress forum names
		{% if not S_SMARTFEED_SUPPRESS_FORUM_NAMES %}
		if ($("#suppress_forum_names").is(':checked')) {
			append = (url.indexOf('?') === -1) ? '?' : '&';
			url = url + append + "{{ S_SMARTFEED_SUPPRESS_FORUM_NAMES_C }}=1";
		}
		{% endif %}

		// Add topic titles only
		if ($("#topic_titles").is(':checked')) {
			append = (url.indexOf('?') === -1) ? '?' : '&';
			url = url + append + "{{ S_SMARTFEED_TOPIC_TITLES }}=1";
		}

		// Add suppress usernames
		{% if not S_SMARTFEED_SUPPRESS_USERNAMES %}
		if ($("#usernames").is(':checked')) {
			append = (url.indexOf('?') === -1) ? '?' : '&';
			url = url + append + "{{ S_SMARTFEED_USERNAMES }}=1";
		}
		{% endif %}

		// Place the url in the field
		$("#url").val(encodeURI(url));
		return true;

	}

	function view_feed() {
		// Executed when the View Feed button is pressed. It shows the RSS/Atom source code a new window/tab for testing
		var url = document.getElementById("url");
		if (url.value.length > 0) {
			$.ajax({ url: url.value,
				success: function(data) {
					$("#viewer").text(data);
					$("#viewer-block").toggle();
				}
			});
		}
	}

</script>
{% endif %}